<%= form_for user do %>

  <label>
    Full Name
    <input
      type="text"
      name="user[full_name]"
      value="<%= user.full_name%>"
      >
  </label>

  <label>
    Username
    <input
      type="text"
      name="user[username]"
      value="<%= user.username%>"
      >
  </label>

  <label>
    Email
    <input
      type="text"
      name="user[email]"
      value="<%= user.email%>"
      >
  </label>

  <label>
    Password
    <input
      type="password"
      name="user[password]"
      value=""
      >
  </label>

  <button><%= user.persisted? ? "Update Your Account" : "Sign Up" %></button>
<% end %>