<main>
  <section class="sidebar">
    <section class="widget dashboard-user-widget">
      <div class="user-info">
        <a href="<%= user_url(@user) %>" class="user-full-name"><%= current_user.full_name %></a>
        <a href="<%= user_url(@user) %>" class="user-username">@<%= current_user.username %></a>
      </div>

      <% if logged_in? && current_user.id == @user.id %>
        <%= render partial: "tweets/form", locals: { tweet: Tweet.new }%>
      <% end %>
    </section>
  </section>

  <section class="stream">
  <header class="stream-header">Tweets</header>
  <% @user.tweets.each do |tweet| %>
    <%= render partial: 'tweets/tweet', locals: { tweet: tweet } %>
  <% end %>
  </section>
</main>